@model DailySummary

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DailySummary</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalCaloriesConsumed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalCaloriesConsumed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalCaloriesBurned)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalCaloriesBurned)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NetCalories)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NetCalories)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.UserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SummaryId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
