@model IEnumerable<BiteWiseWeb2.Data.DailySummary>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalCaloriesConsumed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalCaloriesBurned)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NetCalories)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalCaloriesConsumed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalCaloriesBurned)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NetCalories)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SummaryId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SummaryId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SummaryId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
